.autogen
.git/
.github
.travis
.vscode
.config
Dockerfile
build/
built/
packages/backend/built/
packages/client/built/
packages/sw/built/
db/
docker-compose.yml
elasticsearch/
node_modules/
**/node_modules/
packages/*/node_modules/
redis/
files/
misskey-assets/
