# Public URL of this instance. Change this before the first startup.
MISSKEY_URL=http://localhost:3000/

# db settings
POSTGRES_PASSWORD=example-misskey-pass
POSTGRES_USER=example-misskey-user
POSTGRES_DB=misskey
